.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.description {
  // text-align: center;
  border-radius: 10px;
  background-color: #F0F0F0;
  // padding: 32px;
}

.title {
  text-align: center;
  color: white;
}

.spec {
// position: absolute;
display: flex;
flex-direction: column;
// margin-top:30px;
}

.image .card-top {
  border-radius: 5px;
}
.option {
  display:flex;
  justify-content: center;
}
.tag {
    background-color: lightgrey;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
  }
.icon {
  .bold {
    font-weight: 600;
  }
  // height: 50px;
  // width: 50px;
  // justify-content: center;
  // margin-right: 100px;
  // margin-bottom:100px;
  // margin-left: 250px;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  // margin-bottom: 100px;

}

.show-container {
  h2  {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
  }
}
.flex {
  display: flex;
  // margin-top: 30px;
}

.people {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-right: 200px;
  box-shadow: 10px 5px 5px lightgrey;
  margin-bottom: 16px;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.peoples {
  flex:none;
  justify-content: center;
}

.peopledescription {
  width: 230px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-travel {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: black;
  transition: background 0.3s ease;
  margin-top:50px;
  margin-bottom: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

.btn-travel:hover {
  background: black;
  color: white;
}

.textbanner{
  color: white;
}

.destination h2{
  text-align: center;
  margin: auto;
  padding: 30px;
}


























