<div class="container-card text-center" style="background-image: url('<%= cl_image_path trip.photo.key %>')">
  <%= link_to trip.title, trip_path(trip) %>
  <%#= cl_image_tag(trip.photo.key, :width=>200 , :height=> 100 , :crop=>"scale") %>
</div>
