<div class="container mt-5">
    <h1>Main page</h1>
    <p>Hello guys !</p>

  <hr>
    <%= link_to 'See all trips', trips_path, class: 'btn btn-outline-primary'  %>
    <%= link_to 'Create a trip', new_trip_path, class: 'btn btn-primary'  %>
</div>
