<footer class="bg-white">

  <%= image_tag "vgt logo1.png", alt: "logo", width: 180 %>
  <p>© 2020 Very Good Trip, Inc. All rights reserved</p>
  <div class="icons">
    <i class="fab fa-github"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter"></i>
  </div>

</footer>
