<div class="cards">
  <div class="row">
    <% current_user.trips.each do |trip| %>
      <div class="col-12 col-lg-6 p-3">
      <%= render 'layouts/tripcard_user', trip: trip  %>
      </div>
    <% end %>
  </div>
</div>
